body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(30, 30, 30);
}

table {
    background-color: rgb(62, 62, 62);
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    font-size: 24px;
    border-collapse: collapse;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

td, th {

    width: 300px;
    /* border: 1px solid #ddd; */
    border-collapse: collapse;
    border-radius: 10px;
    padding: 8px;
}
    
input[type = "text"], input[type = "number"]
{
    width: 400px;
    height: 20px;
    background-color: rgb(30, 30, 30);
    border: none;
    border-radius: 5px;
}

input[type = "submit"], input[type = "reset"]
{
    color:rgb(255, 255, 255);
    width: 50px;
    height: 25px;
    background-color: rgb(30, 30, 30);
    border: none;
    border-radius: 5px;
}

select
{
    color:rgb(255, 255, 255);
    width: 50px;
    height: 25px;
    background-color: rgb(30, 30, 30);
    border: none;
    border-radius: 5px;
}